* {
  margin: 0;
  padding: 0;
 
  text-decoration: none;
}

.container {
  display: flex;
     
        height: 100%;
        width: 100%;
        padding-right: 0px !important;
        padding-left: 0px !important; 
        margin-right:0px !important ;
        margin-left: 0px !important;
}




.sidebar {
  background: #000;
  color: #fff;
  width: 300px;
  transition: all 0.5s;
}

.top_section {

  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
 
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: #000;
}

.icon,
.link_text {
  font-size: 20px;
}
.List{
   margin: 30px ;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}